.admin-pagination {
	em {
		color:  $red; 
	}
	a {
		color:  $tertiary; 
	}
}
.site-pagination {
	margin-left:  auto; 
	margin-right:  auto; 
	padding:  32px; 
	em {
		color:  $red; 
	}
	a {
		color:  $tertiary; 
	}
}