<div class="footer">
	<div class="footer-column">
		<%= image_tag "logo-white.svg" %>
		
	</div>
	<div class="footer-column">
	</div>
	<p class="disclaimer">2016 Global Media Comunicaciones. Todos los derechos reservados. <br><br>Prohibida la reproducción total o parcial, incluyendo cualquier medio electrónico o mágnetico.</p>
	
</div>