<div class="footer">
	<div class="footer-column">
		<%= image_tag "logo-white.svg" %>
		
	</div>
	<div class="footer__column">
		<%= link_to "Inicio", root_path, class: "footer__section-link" %>
		
	</div>
	<p class="disclaimer">2016 Global Media Comunicaciones. Todos los derechos reservados. <br><br>Prohibida la reproducci칩n total o parcial, incluyendo cualquier medio electr칩nico o m치gnetico. <br><br> <%= link_to "Aviso de Privacidad", privacy_policy_path %>  - <%= link_to "Responsable de Estaciones", stations_supervisor_path %>
	<br><br>
	<a href="http://nuva.rocks" target="_blank" style="opacity: .6">P치gina desarrollada por NUVA</a>
	</p>
	
</div>