<div class="its-news">
	<p class="its-news__hashtag">#ESNOTICIA</p>
	<div class="its-news__news">
		<a href="" class="its-news__title">Título de noticia</a>
		<a href="" class="its-news__title">Título de noticia</a>
		<a href="" class="its-news__title">Título de noticia</a>
		<a href="" class="its-news__title">Título de noticia</a>
		<a href="" class="its-news__title">Título de noticia</a>
	</div>
</div>