<% cache get_todays_keywords do %>
	<div class="its-news">
		<p class="its-news__hashtag">#ESNOTICIA</p>
		<div class="its-news__news">

			<% get_todays_keywords.each do |keyword| %>
					<%= link_to keyword.name, "/articles/hashtag/#{keyword.slug}" %>
			<% end %>
			
		</div>
	</div>
	<div class="floating-news">
		<p class="its-news__hashtag">#ESNOTICIA</p>
		<div class="its-news__news">

			<% get_todays_keywords.each do |keyword| %>
        <%= link_to keyword.name, "/articles/hashtag/#{keyword.slug}" %>
			<% end %>
			
		</div>
	</div>
<% end %>