<div class="latest-news">
	<div class="special-articles__type">
		<p class="type">Minuto a minuto</p>
		<p class="link">&nbsp; </p>

	</div>
	<%= ArticlesJob.perform_now %>
	<div id="latest-news">
	</div>
	
</div>