<div class="latest-news">
	<div class="special-articles__type">
		<p class="type">Minuto a minuto</p>
		<p class="link">&nbsp; </p>

	</div>

	<% articles.each do |article| %>
		<% if article.section != "Quiénes somos" and  article.section != "Contáctanos" and article.section != "Anunciate con nosotros"  %>
					
			<%= link_to article, class: "latest-news__article" do %>
				<div class="clock">
					<div class="hours"></div>
					<div class="minutes"></div>
				</div>
				<p class="article__time"><%= article.created_at.strftime("%H:%M") %></p>
				<p class="article__title"><%= truncate(article.name, length: 55) %><br><span><%= article.section %></span></p>
			<% end %>
		<% end %>
		
	<% end %>
</div>