<div class="latest-news">
	<div class="special-articles__type">
		<p class="type">Minuto a minuto</p>
		<p class="link">&nbsp; </p>

	</div>
	<div id="latest_news" >
		
	</div>
	<%= Resque.enqueue(ArticlesJob) %>
		
	
</div>

<script type="text/javascript">
	function update_info(article_name, section) {
		console.log("lalalala");
		$('#latest_news').append('<p class="article__title">' + article_name.substring(0,55) + '<br><span>' + section + '</span></p>');
		

	}

</script>