<div class="recommendations">
	<h4 class="medium-title">Lo más destacado</h4>	
	<% articles.each do |article| %>
			<%= link_to article, class: "recommendation" do %>
				<%= image_tag article.image, class: "recommendation__image" %>
				<h4 class="recommendation__title"><%= article.name %></h4>
			<% end %>
	<% end %>
</div>