<div class="radio-banner__tune-in">Sintoniza en vivo</div>
<div class="radio-banner">
	<% get_current_programs.each do |program| %>
		<%= link_to program.station, class: "radio-program" do %>
			<%= image_tag program.image %>
		<% end %>
	<% end %>
</div>
