<div class="recommendations">
	<h4 class="section__title medium-title">Global Recomienda</h4>	
	<div class="articles-container">
		
		<% articles.each do |article| %>
			<%= link_to article_path(article), class: "recommendation" do %>
				<%= image_tag article.image, class: "recommendation__image" %>
				<h4 class="recommendation__title"><%= article.name %></h4>
			<% end %>
		<% end %>
	</div>
</div>