<div class="recommendations">
	<div class="recommendation__header">
		<%= image_tag "global-recomienda.png" %>
		<!-- <h4 class="rh__title">Global Recomienda</h4>	 -->
	</div>
	<div class="articles-container">
		
		<% articles.each do |article| %>
			<%= link_to article_path(article), class: "recommendation" do %>
				<%= image_tag article.image, class: "recommendation__image" %>
				<h4 class="recommendation__title"><%= article.name %></h4>
			<% end %>
		<% end %>
	</div>
</div>