<div class="sidebar">
	<%= render "components/latest-news", articles: latest_news %>
	
	
	<% if banner != "" and banner != nil %>
		<%= render "components/medium-banner", banner: banner %>
	<% end %>
	<br>
	<% if  article != "" and article != "global" and article.articable.facebook? %>
		<div class="fb-page" data-href="<%= article.articable.facebook %>" data-tabs="timeline" data-width="342" data-height="750" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/GlobalMediaSLP" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/GlobalMediaSLP"></a></blockquote></div>
	<% else %>
		<div class="fb-page" data-href="https://www.facebook.com/GlobalMediaSLP" data-tabs="timeline" data-width="342" data-height="750" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/GlobalMediaSLP" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/GlobalMediaSLP"></a></blockquote></div>
	<% end %>
</div>
	