<% article ||=  "nuva.rocks" %>

<div class="social-media" data-article="<%= article_url(article) %>">
	<%= link_to ("whatsapp://send?text=" + article_url(article)), class: "social-media__link", target: "_blank" do %>
		<%= image_tag "whatsapp.svg" %>
	<% end %>
	<a class="social-media__link" target="_blank" onclick="shareToFacebook(event);">
		<%= image_tag "facebook.svg" %>				
	</a>	

</div>
