<div class="stations-floating-bar">
<div class="radio-banner__tune-in no-border"><div class="led"></div>Sintoniza en <br>este momento</div>

	<% get_current_programs.each do |program| %>
		<%= link_to ("/" + program.station.slug), class: "station-link" do %>
			<%= image_tag program.image %>
		<% end %>
	<% end %>
</div>