<style>
  @media (max-width: 1345px) {
    .stations-floating-bar {
      display: none;
    }
  }
</style>
<div class="stations-floating-bar">
<div class="radio-banner__tune-in no-border"><div class="led"></div>Sintoniza en <br>este momento</div>
  <% get_current_programs.each do |program| %>
    <% if action_name == "show" and controller_name == "stations" %>
      <%= link_to ("/" + program.station.slug), class: "station-link", target: "_top" do %>
        <%= image_tag program.image %>
      <% end %>
    <% else %>
      <%= link_to ("/" + program.station.slug), class: "station-link", target: "_blank" do %>
        <%= image_tag program.image %>
      <% end %>
    <% end %>
  <% end %>
</div>