<div class="interface--row">
	<div class="main-content">
		<h4 class="section__title">Acerca de</h4>
		<% if @articles %>
			<div class="about-us">
				<%= @articles.first %>
			</div>
			<div class="interface--row">
				
				<div class="section main-content"> 

		 			<div class="section-articles-container">
						
						<% @articles.each do |article|%>
							<%= render "components/section-article", article: article %>
						<% end %>
					</div>

					<%= will_paginate @articles, class: "site-pagination" %>
				</div>
			</div>
		<% end %>

	</div>	
	<%= render "components/sidebar", article: "global", banner: "" %>
</div>
