<div class="interface--row">
	<div class="main-content">
		<h4 class="section__title">Acerca de</h4>
		<div class="about-us">
			<img src="http://www.sothebys.com/content/dam/sothebys-pages/blogs/ModernImpressions/2017/2/klimt-bauerngarten_banner.jpg.webrend.1920.350.jpeg" alt="">
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem possimus ipsa suscipit, rerum officia! Necessitatibus quo iusto debitis, at deserunt ipsum eaque ab vel aspernatur modi nemo distinctio. Labore, obcaecati!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem possimus ipsa suscipit, rerum officia! Necessitatibus quo iusto debitis, at deserunt ipsum eaque ab vel aspernatur modi nemo distinctio. Labore, obcaecati!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem possimus ipsa suscipit, rerum officia! Necessitatibus quo iusto debitis, at deserunt ipsum eaque ab vel aspernatur modi nemo distinctio. Labore, obcaecati!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem possimus ipsa suscipit, rerum officia! Necessitatibus quo iusto debitis, at deserunt ipsum eaque ab vel aspernatur modi nemo distinctio. Labore, obcaecati!</p>
		</div>
	</div>	
	<%= render "components/sidebar", article: "global" %>
</div>
