<% if @breaking_news != nil %>
	<%= render "components/breaking-news" %>	
<% end %>
<div class="highlights-container">	
	<% @highlights.each do |highlight| %>
		<% if highlight.order == 1 %>
			<%= render "components/principal-highlight", article: highlight.article %>
		<% else %>
			<%= render "components/secondary-highlight", article: highlight.article %>
		<% end %>
	<% end %>
</div>