<style>
	.privacy-policy {
		font-size:  14.5px; 
		line-height:  125%;  
		padding:  144px 144px;
	}
</style>
<p class="privacy-policy">
<b>Fecha: 15 diciembre 2015</b>
<br>
<br>
Se le informa a nuestro auditorio que la Lic. Adriana Gómez Robles, ejerce las funciones de responsable
de atender y resolver las solicitudes de replica que se le presenten a nuestro auditorio respecto a las
estaciones con distintivo XHPM de nombre WFM; XHSMR de nombre Trion; XHOD de nombre RMX;
XHEPO de nombre Imagen San Luis; XHBM, XEBM de nombre Ke Buena, XHWA y XEWA de nombre
Los40. 
<br>
<br>
<b>Dirección: </b>
<br>
<br>
Av. Salvador Nava Martínez 278
<br>
CP 78320 Col. El Paseo.
<br>
Entidad Federativa San Luis
Potosi,
<br> 
San Luis Potosi 
<br>
<br>
Correo electrónico: adriana.gomez@gmnet.com.mx 
<br>
Tel. 2989200
</p>