<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>¡Hola, <%= @user.full_name %>!</h1>
    <p>
      Se ha creado una cuenta para ti en Global Media.
    </p>

    <p>
      Entra a: <%= @url %>
    </p>
    <p>Y sigue las instrucciones dar de alta tu contraseña.</p>

    <p>El equipo de Global Media</p>
  </body>
</html>