.highlights-container {
	display:  flex; 
	flex-direction:  row; 
	align-items:  stretch; 
	justify-content:  space-between; 
	flex-wrap:  wrap; 
	width:  100%; 
	margin-top:  4px; 
	background:  #f0f0f0; 
	margin-bottom:  18px; 
}
@media screen and (max-width:  1023px) {
	.highlights-container {
		flex-direction:  column; 
	}
}