<div class="row mt-2">
  <div class="col-12 d-flex justify-content-start">
    <h2>Banners</h2>
  </div>
  <div class="col-12 d-flex justify-content-end">
    <button routerLink="create" class="btn btn-sm btn-primary">Agregar</button>
  </div>
  <div class="col-12">
    <table class="table table-sm">
      <thead class="thead-dark">
      <tr>
        <th class="text-center" scope="col">Nombre</th>
        <th class="text-center" scope="col">Descripción</th>
        <th class="text-center" scope="col">Tipo</th>
        <th class="text-center" scope="col">Activo</th>
        <th class="text-center" scope="col">Estado</th>
        <th class="text-center" scope="col">Mostrar desde</th>
        <th class="text-center" scope="col">Mostrar hasta</th>
        <th class="text-center" scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let banner of newBanners">
        <td class="text-center">{{banner.name}}</td>
        <td class="text-center">{{banner.description}}</td>
        <td class="text-center">
          <span class="badge badge-info">{{banner.banner_type}}</span>
        </td>

        <td class="text-center">
          <span *ngIf="banner.is_active" class="badge badge-success">Activado</span>
          <span *ngIf="!banner.is_active" class="badge badge-secondary">Desactivado</span>
        </td>
        <td class="text-center">
          <span *ngIf="isBetweenDates(banner.show_at, banner.expiry_at)" class="badge badge-success">Dentro de Horario</span>
          <span *ngIf="!isBetweenDates(banner.show_at, banner.expiry_at)" class="badge badge-secondary">Fuera de horario</span>
        </td>
        <td class="text-center">{{banner.show_at.toLocaleString()}}</td>
        <td class="text-center">{{banner.expiry_at.toLocaleString()}}</td>
        <td class="d-flex justify-content-center">
          <a routerLink="edit/{{banner.id}}"><i class="mx-1 fas fa-edit text-secondary"></i></a>
          <a style="cursor: pointer;" (click)="deleteBanner(banner.id)"><i class="mx-1 fas fa-trash text-danger"></i></a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
