<div class="panel__header">
	<h2 class="title panel__title"><span class="current">Palabras Clave</span> <small>(#EsNoticia)</small> / <span>Editar</span></h2>
	<div class="panel__actions">
		<button class="button">Guardar palabras clave</button>
	</div>
</div>
<%= form_for(panel_update_multiple_keywords_path, controller: "panel/keywords", action: "update_multiple", html: { class: "admin-form card" }) do -%>
  
  
    <% @keywords.each_with_index do |keyword, index| %>
      <%= fields_for "keyword[]", keyword do |f| %>
    
        <div class="field">
            <label>Palabra Clave <%= index + 1 %></label>
            <%= f.text_field :keyword %>
        </div>
     
      <% end %>
    <% end %>
 <% end %>
 <script> 
 	button = $("button.button"); 
 	form = $("form.admin-form.card"); 
 	saveFormOnButtonClick(button, form);
 </script>