<div class="panel__header">
	<h2 class="title panel__title"><span class="current">#EsNoticia</span></h2>
	<div class="panel__actions">
		<% if get_todays_keywords.count > 0 %>	
			<%= link_to "Editar palabras clave",  panel_keywords_edit_multiple_path, class: "button" %>
		<% else %>	
			<%= link_to "Nuevas palabras clave", new_keyword_path %>
		<% end %>	
	</div>
</div>
<div class="card">
	<% get_todays_keywords.each do |keyword| %>
		<div class="table__row">
			<div class="table__cell">
				<%= link_to keyword.keyword, keyword_show_keyword_path(keyword)%>
			</div>
		</div>
	<% end %>
</div>