<div class="panel__header">
	<h2 class="title panel__title"><span class="current">Notas</span></h2>
	<div class="panel__actions">
		<%= link_to "Nueva nota", new_article_path, class: "button" %>
	</div>
</div>
<div class="table card">
	<div class="table__row">
		<p class="table__cell">Título:</p>
		<p class="table__cell">Extracto:</p>
	</div>
	<% @articles.each do |article| %>
		<div class="table__row">
			<p class="table__cell name"><%= article.name %></p>	
			<p class="table__cell short-description"><%= article.short_description %></p>	
		</div>
	<% end %>
</div>
