<div class="panel__header">
	<h2 class="title panel__title">Notas / <span class="current">Crear nota</span></h2>
	<div class="panel__actions">
		<a href="" class="button button--saver saver--article"><span>Guardar Nota</span><span class="saver--spinner"></span></a>
		<%#= link_to "Nueva nota", new_article_path, class: "button" %>
	</div>
</div>
<%= render 'form' %>
