

<div class="interface--row">
	<div class="section main-content"> 
		<p class="section__small-title">Hashtag:</p>

		<h3 class="section__title"><%= @search.name %></h3>

		<% @articles.each do |article| %>
			<%= render "components/horizontal-note", article: article %>
		<% end %>
		<%= will_paginate @articles, class: "site-pagination" %>

	</div>
	<%= render "components/sidebar", article: "global", banner: "" %>
</div>
