<div class="interface--row">
	<div class="main-content">
		<h4 class="section__title">Colaboradores</h4>
		<div class="section-articles-container">
			<% @collaborators.each do |collaborator| %>
				<%= link_to collaborator, class: "station-preview" do %>
					<%= image_tag collaborator.image, class: "station-preview__image" %>
					<h4 class="station-preview__name"><%= collaborator.name %></h4>
				<% end %>
			<% end %>
		</div>
	</div>
	<%= render "components/sidebar", article: "global" %>
</div>