<div class="panel__header">
	<h2 class="title panel__title"><span class="current">Destacado de Sección</span></h2>
	<div class="panel__actions">
		<button class="button">Marcar nota destacada</button>
	</div>
</div>
<%= form_for :panel, url: {controller: "panel/sections", action: 'set_highlight'}, html: { class: "card admin-form" }  do |f|%>
	<%= f.autocomplete_field(:article_id, autocomplete_article_name_highlights_path, :id_element => '#article_id', class: "search-bar", placeholder: "Buscar Artículo", type: "search") %>
	<div class="field">
		
		<%= hidden_field_tag :article_id, :id => "article_id", class:"search-results", style:"background-color:#fff;" %> 
	</div>
<% end %>
<script>
	
	saveFormOnButtonClick($("button.button"), $("form")); 
</script>