<div class="panel__header">
	<h2 class="title panel__title"><span>Secciones / </span><span class="current"><%= @section.name %></span></h2>
	<div class="panel__actions">
		<%= link_to "Editar sección", new_panel_section_path, class: "button" %>
	</div>
</div>
<div class="table card">
	<div class="table__row">
		<p class="table__cell">Título:</p>
		<p class="table__cell">Vistas Totales:</p>
	</div>
	
</div>
