// 
// 
//  COLOR VARIABLE DECLARATIONS
// 
// 
// 

$primary: #1b2d41; 
$secondary: #2d5b8e; 
$tertiary:  #3470d1; 

$gray: #313140; 
$gray-100: #efeff7; 

$red: #E53935; 
$amber: #FFC107; 
// $secondary: #558ecd; 
// $primary-300:  #3a6fc4; 