<div class="panel__header">
	<h2 class="title panel__title"><span>Controles Remotos/ </span><span class="current">Nuevo Control</span></h2>
	<div class="panel__actions">	
		<button class="button">Crear control</button>
	</div>
</div>
<%= render 'form' %>
<script>
	saveFormOnButtonClick($("button.button"), $("form")); 
</script>