<div class="panel__header">
	<h2 class="title panel__title"><span class="current"><%= @station.name %></span></h2>
	<div class="panel__actions">
		<button class="button">Añadir nota</button>
	</div>
</div>
<%= form_for :panel, html: { class: "admin-form card" }, url: {controller: "panel/stations", action: 'set_station_articles'} do |f| %>
	<div class="field">
		
		<label>Artículo</label>
		<% f.autocomplete_field(:first_article_id, autocomplete_article_name_panel_articles_path, :id_element => '#first_article_id', class: "search-bar", placeholder: "Buscar Artículo", type: "search" ) %>
		<%= f.hidden_field :station_id, value: @station.id %>
		<%= f.text_field :first_article_id, placeholder: "Coloca el id del artículo aquí." %>
	</div>
<% end %>
<script>
	saveFormOnButtonClick($("button.button"), $("form"));
</script>
<!-- 