<div class="panel__header">
	<h2 class="title panel__title"><span class="current">Estaciones de Radio</span></h2>
	<div class="panel__actions">
		<%= link_to "Nueva estación", new_panel_station_path, class: "button" %>
	</div>
</div>
<div class="table card">
	<div class="table__row">
		<div class="table__cell">Nombre:</div>
		<div class="table__cell">Cantidad de Programas:</div>
	</div>
	<% @stations.each do |station| %>
	<div class="table__row">
		
		<%= link_to station.name, panel_station_path(station), class: "table__cell" %>
		<p class="table__cell"><%= station.timetables.count %></p>
	</div>
	<% end %>
</div>
	
