<div class="panel__header">
	<h2 class="title panel__title">Estaciones de Radio / <span class="current">Nueva estación</span></h2>
	<div class="panel__actions">
		<button class="button">Crear estación</button>
	</div>
</div>

<%= render 'form', the_type: "Investigation" %>

<script>
	saveFormOnButtonClick($("button.button"), $("form")); 
</script>