<div class="panel__header">
	<h2 class="title panel__title"><span>Editar/ </span><span class="current"><%= @user.first_name %></span></h2>
	<div class="panel__actions">	
		<button class="button"> Guardar</button>
	</div>
</div>
<%= render 'form' %>
<script>
	saveFormOnButtonClick($("button.button"), $("form")); 
</script>
