<div class="panel__header">
	<h2 class="title panel__title"><span>Podcasts/ </span><span class="current">Nuevo Podcast</span></h2>
	<div class="panel__actions">	
		<button class="button">Crear podcast</button>
	</div>
</div>
<%= render 'form' %>
<script>
	saveFormOnButtonClick($("button.button"), $("form")); 
</script>