<div class="container-angular-app">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <app-root></app-root>
  <script src="assets/ng/runtime-es2015.js" type="module"></script><script src="assets/ng/runtime-es5.js" nomodule defer></script><script src="assets/ng/polyfills-es5.js" nomodule defer></script><script src="assets/ng/polyfills-es2015.js" type="module"></script><script src="assets/ng/styles-es2015.js" type="module"></script><script src="assets/ng/styles-es5.js" nomodule defer></script><script src="assets/ng/vendor-es2015.js" type="module"></script><script src="assets/ng/vendor-es5.js" nomodule defer></script><script src="assets/ng/main-es2015.js" type="module"></script><script src="assets/ng/main-es5.js" nomodule defer></script>
</div>

<style>
  .interface.interface--admin {
    padding: 0 !important;
  }
  .container-angular-app{
    width: 97%;
  }
</style>