<div class="field field--file">
	
	<label class="create__label">Imagen</label>
	<%= f.file_field :src %>
	<%= f.hidden_field :_destroy %>
    <%= link_to_remove_fields 'Remove', f, "fields__remove" %>

</div>
<script type="text/javascript">
	new_fields();
</script> 
<script>
	$("input[type=file]").each(function(){
		var $input = $(this);
		if ($input.parents(".field").find("img").length == 0) {

			$input.before('<img class="form__image-preview">');
		}

		$input.change(function(){
		    var reader = new FileReader();
		    $(reader).on("load", function(event){

			    	$input.parents(".field").find("img").attr('src',  event.target.result); 
			    	$input.parents(".field").find("img").css("display", "block"); 
		    });
			reader.readAsDataURL(this.files[0]);
		});
	});  
</script>