<div class="panel__header">
	<h2 class="title panel__title">Notas / <span class="current">Crear nota</span></h2>
	<div class="panel__actions">
		<button class="button button--save save-article"><div class="button--text">Guardar Nota</div><div class="button--spinner"></div></button>
	</div>
</div>
<%= render 'form' %>
