.banner--big {
	width:  100%;  
	height:  auto; 
	margin-bottom:  16px; 
}
.banner--medium {
	width:  100%;  
	height:  auto; 
	margin-top:  16px; 
	margin-bottom:  16px; 
}
.banner--small {
	width:  100%;  
	height:  auto; 
	margin-top:  16px; 
	margin-bottom:  16px; 
}