.header--wrapper {
	width:  100%; 
	max-height:  72px; 
	overflow:  hidden; 
}
.header {
	display:  flex; 
	flex-direction:  row; 
	align-items:  center; 
	justify-content:  space-between; 
	width:  100%; 
	max-width:  $interface-width; 
	background-color:  $primary; 
	padding-top:  12px; 
	padding-bottom:  12px; 
	padding-right:  18px; 
	position:  relative; 
	margin-left:  auto; 
	margin-right:  auto; 
	box-sizing:  border-box; 
	min-height:  72px; 
	max-height:  72px; 
	height:  auto; 
	overflow:  hidden; 
	* {
		font-family: 'Pragati Narrow', sans-serif;
		font-size:  18px; 
	}
}
.header__container {
	display:  flex; 
	flex-direction:  row; 
	flex-shrink: 0; 
	box-sizing:  border-box; 
}
.header__container.container--1 {
	height:  44px; 
	width:  200px;
	position:  relative; 
}
.header__container.container--2 {
}
.header__logo {
	position:  absolute; 
	left:  12px; 
	top:  50%; 
	transform:  translateY(-50%);
	height:  44px; 
	img {
		height:  100%; 
		width:  auto; 
	}
}
.exchange-rate, 
.weather {
	display:  flex; 
	flex-direction:  row;
	align-items:  center; 
	color:  #ffffff;
	margin-left:  36px; 
	img {
		margin-right:  12px; 
		height:  32px; 
	}
}
.weather:last-of-type {}
.weather__location {
	font-weight:  bold; 
}
.exchange-rate__name {
	font-weight:  bold; 
}
@media screen and (max-width:  1023px) {
	.menu-trigger {
		display:  flex;
		flex-direction:  column; 
		width:  50%; 
		height:  100%; 
		position:  relative; 
		margin-left:  auto; 
		margin-top:  0px; 
		margin-bottom:  0px; 
		margin-right:  12px;
		padding-top:  13px;
		padding-bottom:  13px;
		box-sizing:  border-box;
		div {
			width:  36px; 
			right:  0px;
			height:  1px;
			background:  #ffffff; 
			position:  absolute;  
			pointer-events:  none; 
		}
		.mt-1 { top: 13px; }
		.mt-2 { top: 21px; }
		.mt-3 { top: 30px; }
	}
	.header {
		display:  flex; 
		flex-direction:  column; 
		min-height:  none; 
		max-height:  none; 
		align-items:  stretch; 
		justify-content:  flex-start; 
		padding:  0px; 
		height:  auto; 
		min-height:  auto; 
		max-height:  auto; 
	}
	.header--wrapper {
		width:  100%; 
		max-height:  92px; 
		overflow:  hidden; 
	}
	.header__container {
		width:  100% !important; 
		
	}
	.container--1 {
		padding:  8px; 
		min-height:  60px; 
	}
	.container--2 {
		display:  flex; 
		flex-direction:  row; 
		align-items:  flex-start; 
		justify-content:  flex-start; 
		padding:  8px; 
		background-color:  $quaternary; 
		img {
			display:  none; 
		} 
		p {
			br {
				display:  none; 
			}
			flex-direction:  row; 
		}
		.weather__data {
			display:  flex; 
			flex-direction:  row;
			p {
				width:  auto; 
			} 
		}
		.exchange-rate {
			margin-left:  12px; 
		}
		.weather {
			margin-left: 0px; 
			p:last-of-type {
				margin-left:  4px;
			}
		}
	}
}