.its-news {
	width:  100%; 
	margin-bottom: 8px;
	padding:  0px 18px 0px 0px;
	background-color:  $secondary; 
	display:  flex; 
	flex-direction:  row; 
	align-items:  center; 
	justify-content:  space-between; 
	box-sizing:  border-box;  
}
.its-news__news {
	flex-grow:  1; 
	display:  flex; 
	flex-direction:  row; 
	align-items:  center; 
	justify-content:  space-around;  
	a {
		color:  #ffffff; 
	}
}
.its-news__hashtag {
	color:  $secondary; 
	background-color:  #ffffff;
	padding:  12px 18px; 
	font-size:  14px; 
	font-weight:  600; 
	letter-spacing:  1px; 
	font-family:  "Open Sans", sans-serif; 
}
.its-news__title {
	font-weight:  400; 
	font-family:  "Open Sans", sans-serif; 
	font-size:  14px; 
	text-transform:  uppercase; 
	color:  #ffffff; 
}

@media screen and (max-width:  1023px) {
	.its-news {
		display:  none; 
	}
}