.sidebar .latest-news {
	margin-top:  18px !important; 
}
.latest-news {
	display:  flex; 
	flex-direction:  column; 
	align-items:  flex-start; 
	justify-content:  flex-start; 
	width:  100%; 
	.clock {
		margin-right:  8px; 
		height:  13px; 
		width:  13px; 
		border:  solid 1px $tertiary; 
		border-radius:  50%;  
		position:  relative; 
		display:  block; 
		.minutes, 
		.hours {
			background:  $tertiary; 
		}
		.minutes {
			width:  5px; 
			height:  1px; 
			position:  absolute; 
			display:  block; 
			top:  6px; 
			left:  6px; 
		}
		.hours {
			width: 1px; 
			height:  4px;
			top:  2px;  
			left:  6px;   
			position:  absolute; 
			display:  block;   
		}
	}
	.special-articles__type {
		.type {
			color:  #000000; 
		}	
		.link {
			padding-left:  0px; 
			width:  12px; 
			background:  #000000; 
			display:  none;
		}
	}
	.latest-news__header {
		display:  flex; 
		flex-direction:  row; 
		align-items: center; 
		justify-content:  space-between; 
		width:  100%;
		margin-bottom:  12px;  
		.latest-news__title {
			text-transform:  uppercase; 
			font-weight:  900; 
			color:  $primary; 
			padding-bottom:  4px;  
			padding-right:  12px; 
			font-size:  18px;  
			font-family:  "Martel", serif; 
		}
		.latest-news__link {
			background-color:  $primary;  
			letter-spacing:  2px; 
			padding:  12px 18px; 
			font-size:  14px;  
			color:  #ffffff;
			flex:  1; 
			text-align:  right; 
		}
	}
	.latest-news__article {
		width:  100%; 
		display:  flex; 
		flex-direction:  row; 
		align-items:  center; 
		justify-content:  flex-start;  
		padding:  5px 0; 	
		.article__time {
			font-weight:  900; 
			color:  #646464; 
			width:  48px;
			margin-right:  6px;  
			border-bottom:  dotted 1px #757575; 
			padding-bottom:  6px; 
			padding-top:  6px; 
		}
		.article__title {
			flex: 1; 
			font-size:  14.5px; 
			line-height:  95%; 
			span {
				margin-top:  2px; 
				font-size:  11px; 
				color:  #757575; 
				font-weight:  bold; 
			}
		}
	}

	.latest-news__article:nth-of-type(1) {
		margin-top:  18px; 
		.article__time { 
			color:  $red; 
			border-bottom:  dotted 1px $red; 
		}
	}

}
@media screen and (max-width:  1023px) {
	.latest-news__article:nth-of-type(n+5) {
		display:  none; 
	}
}
