.top-padder {
	width:  100%; 
	height:  155px; 
	display:  block;
	overflow:  hidden;  
	box-sizing:  border-box; 
}
.navigation {
	position:  fixed; 
	top:  0; 
	width:  100%; 
	display:  flex; 
	flex-direction:  column; 
	align-items:  center; 
	z-index:  100; 
	overflow:  hidden; 
	box-sizing:  border-box; 
}
@media screen and (max-width:  1023px) {
	.top-padder { height:  132px }
	.interface > .radio-banner__tune-in {
		display:  none;
	}
}