.note--display {
	margin-top:  36px;   
	width:  $main-content-width; 
	.title {
		margin-bottom:  18px; 
	}
	.article__info {
		display:  flex; 
		flex-direction:  row; 
		align-items:  center;
		justify-conent:  center;  
		margin-bottom:  18px; 
		.author, 
		.date, 
		.section {
			margin-right:  12px; 
		}
	}
	.author {
		font-size:  13.5px; 
		font-style:  italic; 
		color:  #616161; 
		display:  flex; 
	}
	.short-description {
		color:  #000000; 
		font-size:  14px; 
		line-height:  125%; 
		font-weight:  600; 
		margin-bottom:  18px; 
	}

}
#quill-container {
	width:  100%;
	.ql-editor {
		padding:  0; 
	}
}
.ql-editor {
	.tweet, 
	.embed-content {
		width:  100%; 
		display:  flex; 
		flex-direction:  column; 
		align-items:  center; 
		iframe {
			margin-left:  auto; 
			margin-right:  auto; 
		}
	}
	p {
		font-size:  18px; 
		line-height:  28px; 
		font-weight:  400; 
		font-family:  "Open Sans", sans-serif; 
	}
	strong {
		font-weight:  700; 
	}
	em {
		font-style:  italic; 
	}
	blockquote {
		line-height:  155%;   
		display:  block; 
		font-size:  18px;  
		padding:  0 40px; 
	}

	.ql-size-small { font-size:  13.5px; }
}
