.radio-banner__tune-in,
.small-label {
	font-size:  13.5px; 
	font-weight:  900; 
	color:  #616161; 
	letter-spacing:  1px; 
	margin-bottom:  8px; 
	text-transform:  uppercase; 
}
.radio-banner {
	width:  100%; 
	display:  flex; 
	flex-direction:  row;
	margin-bottom:  8px;
	.radio-program {
		width:  20%; 
		height:  50px; 
		img {
			width:  100%; 
			height:  100%; 
			object-fit:  cover; 
			object-position:  center center; 
		}
	} 
}
@media screen and (max-width:  1023px) {
	.radio-banner {
		display:  none; 
	}
}