.relationship {
	width:  100%; 
}
.relationship__image {
	width:  100%; 
	height:  400px; 
	object-fit:  cover; 
	object-position:  center center; 
	margin-bottom:  16px; 
}
@media screen and (max-width:  1023px) {
	.relationship__image {
		display:  none; 
	}
}
.relationship__description {
	font-size:  14px; 
	font-weight:  900; 
	margin-bottom:  16px; 
}