.secondary-highlight {
	width:  240px;
	margin-bottom:  16px; 
	display:  flex; 
	flex-direction: column; 
	.article-preview__info {
		display:  flex; 
		flex-grow: 1; 
		.author {
			display:  none; 
		}
		.title {
			font-size:  21px; 
			margin-top:  8px; 
			margin-bottom:  0px; 
		}
		.section-and-author {
			margin-top:  8px; 
			margin-bottom:  8px;

		}
		.datetime {
			margin-top:  8px; 
			margin-bottom:  8px; 
		}
		.short-description {
			margin-top:  8px; 
			margin-bottom:  18px; 
		}
		.social-media {
			margin-top:  auto !important;
		}
	}
	.image-link {
		width:  100%; 
		height:  150px; 
	}
}

.sh-mr {
	margin-right:  18px; 
}
.secondary-highlight__image {
	width:  100%;
	height:  150px; 
	object-fit:  cover; 
	object-position:  center center; 
}
@media screen and (min-width:  1024px) {
	.principal-highlight + .secondary-highlight {
		.short-description {
			display:  none; 
		}
	}
}
@media screen and (max-width:  1023px) {
	.secondary-highlight {
		width:  100%; 
	}
}