.social-media {
	display:  flex; 
	flex-direction:  row; 
	align-items:  center; 
}
.social-media__tag {
	color:  $primary;
	font-size:  14px; 
	font-weight:  600; 
	text-transform:  uppercase;
	margin-top:  -3px;
	margin-right:  12px; 
}
.social-media__link {
	height:  28px; 
	margin-right:  8px;
	cursor:  pointer; 
	img {
		pointer-events:  none; 
		height:  100%;
	} 
}
.whatsapp {
	display:  none;
}
@media screen and (max-width: 1023px) {
	.whatsapp {
		display:  flex; 
	}
	.social-media__link {
		height:  48px; 
		width:  48px;
	}
}