.heading {
	font-size:   48px; 
	font-weight:  600; 
	margin-bottom:  48px; 
	color:  #424242; 
}
.title {
	font-size:  36px; 
	font-weight:  400; 
	color:  #212121; 
	margin-bottom:   36px; 
}
.bold {
	font-weight:  900; 
}
.semibold {
	font-weight:  600; 
}
.section-title {
	font-size:  24px;  
	font-weight:  400; 
	color:  #424242; 
	margin-bottom:   36px;
}
.medium-title {
	font-size:  21px; 
	font-weight:  900; 
}
.small-title {
	font-size:  18px; 
	font-weight:  600; 
}
.spaced {
	margin-top:  18px; 
}
.super-small {
	font-size:  11px; 
	text-align:  center; 
	align-items:  center; 
	justify-content:  center; 
}