.topbar {
	width:  100%; 
	max-width:  $interface-width; 
	margin-left:  auto; 
	margin-right:  auto; 
	display:  flex; 
	flex-direction:  row; 
	align-items:  center; 
	justify-content:  flex-start; 
	padding:  6px 12px; 
	background:  #424242; 
	box-sizing:  border-box;
	.social-media__tag {
		color:  #ffffff; 
	}
	br {
		display: none; 
	}
}
@media screen and (max-width:  1023px) {
	.topbar {
		align-items:  center; 
		
		br {
			display:  initial; 
		}
	} 
}

.topbar__link {
	font-family: "Open Sans", sans-serif; 
	font-size:  14px; 
	font-weight:  600; 
	color:  #ffffff; 
	text-transform:  uppercase; 
	// margin-right:  18px; 
	padding-right:  9px; 
	padding-left:  9px; 
	border-right:  solid 1px #ffffff; 
}
.topbar .social-media {
	margin-left: auto;
}
.search {
	position:  relative;
}
.search__image {
	position:  absolute;
	left:  28px; 
	top:  50%; 
	transform:  translateY(-50%); 
	height:  14px; 
	width:  auto;
	opacity:  .3; 
	pointer-events:  none; 
	transition:  opacity .3s ease; 
}
.search__box:focus + .search__image {
	opacity:  0; 
}
.search__box {
	background: #ffffff; 
	color:  #212121; 
	padding:  6px 8px; 
	font-size:  14px;
	text-align:  right; 
	margin-left:  18px; 
	border:  solid 1px #dbdbdb;
}
@media screen and (max-width:  1023px) {
	.search__box, 
	.topbar .social-media {
		display:  none; 
	}
	.topbar__link {
		font-size:  11px; 
	}
}