//
// MAIN SCSS 
// 
//
// THIS FILE SERVES FOR THE DECLARATION 
// OF GLOBAL STYLES AND ORGANIZING IMPORTS
//
// 


// Base foundation reset

@import "base/foundation";
@import "libraries/quill.snow";


// Color import

@import "base/colors"; 

$interface-width:  1024px; 
$admin-sidebar-width:  260px; 
$main-content-width: 650px;

html, 
body {
	height:  100%; 
	width:  100%; 
	font-family: "Open Sans", sans-serif; 
}
.interface {
	width:  100%; 
	max-width:  $interface-width; 
	display:  flex; 
	flex-direction:  column; 
	align-items:  flex-start; 
	justify-content:  flex-start; 
	flex-wrap:  wrap;
	margin-left:  auto; 
	margin-right:  auto; 
	border-left:  solid 1px #dbdbdb; 
	border-right:  solid 1px #dbdbdb; 
	min-height:  100%; 
	padding:  8px;
	box-sizing:  border-box; 
}
.interface--admin {
	border:  none; 
	max-width:  calc(100% - #{$admin-sidebar-width}); 
	margin-right:  0; 
	margin-left:  auto; 
	padding:  0px; 
	padding-top:  78px; 
	background-color:  $gray-100; 
}
.primary {
	color:  $tertiary; 
	font-weight:  700; 
}
.inactive {
	color:  #424242; 
	opacity:  .1;
}
.section-title.card {
	margin-top:  24px !important; 
	margin-left:  24px !important; 
	margin-bottom:  0px !important; 
	margin-right:  0px !important; 
}
.main-content,
.sidebar {
	display:  flex; 
	flex-direction:  column; 
}
.main-content {

}

@import "components/text"; 
@import "components/forms"; 
@import "components/buttons"; 
@import "components/admin/cards"; 

@import "components/topbar"; 
@import "components/header";
@import "components/navbar"; 
@import "components/social-media"; 
@import "components/its-news"; 
@import "components/breaking-news"; 
@import "components/notes"; 
@import "components/latest-news"; 

@import "components/admin/admin-sidebar"; 
@import "components/admin/admin-panel"; 
@import "components/admin/tables"; 
@import "components/admin/articles-panel"; 


