<div class="panel__header">
	<h2 class="title panel__title"><span class="current">Cámaras de tráfico</span></h2>
	<div class="panel__actions">
		<%= link_to "Nueva cámara", new_panel_camera_path, class: "button" %>
	</div>
</div>
<div class="table card">
	<div class="table__row">
		<div class="table__cell">Nombre:</div>
		<div class="table__cell">Locación:</div>
		<div class="table__cell">Stream:</div>
	</div>
	<% @cameras.each do |camera| %>
		<div class="table__row">
			<%= link_to camera.name, panel_camera_path(station), class: "table__cell" %>
			<p class="table__cell"><%= camera.location %></p>	
			<p class="table__cell"><%= camera.stream %></p>	
		</div>
	<% end %>
	<% if @cameras.count == 0 %>
		<div class="table__row ">
			<p class="table__cell table__empty">No hay cámaras dadas de alta</p>
		</div>
	<% end %>	
</div>
	
