<div class="panel__header">
	<h2 class="title panel__title">C치maras de tr치fico / <span class="current">Nueva c치mara</span></h2>
	<div class="panel__actions">
		<button class="button">Crear c치mara</button>
	</div>
</div>

<%= render 'form' %>

<script>
	saveFormOnButtonClick($("button.button"), $("form")); 
</script>